.friendListSidebar {
  position: relative;
  height: inherit;
  width: 20%;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.friendListTitle {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.friendList {
  list-style-type: none;
  padding: 0;
}

.friendListItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friendUsername {
  font-size: 1.1em;
  color: #555;
}